body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: bisque;
}

header {
    background: fixed;
    color: beige;
    padding: 15px;
}

nav a {
    color: beige;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background: fixed;
    color: beige;
    border: none;
    cursor: pointer;
}

button:hover {
    background:bisque;
}

input, select {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

